<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.supersynergy.synapse.lifecycle</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/synapse-lifecycle</string>
        <string>--db</string>
        <string>/Users/master/.synapse/brain.db</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/master/Library/Logs/synapse-lifecycle.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/master/Library/Logs/synapse-lifecycle.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>RUST_LOG</key>
        <string>info</string>
    </dict>
</dict>
</plist>
