<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.supersynergy.synapse.extract</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/synapse-extract-worker</string>
        <string>--db</string>
        <string>/Users/master/.synapse/brain.db</string>
        <string>--interval-ms</string>
        <string>30000</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/master/Library/Logs/synapse-extract.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/master/Library/Logs/synapse-extract.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>RUST_LOG</key>
        <string>info</string>
    </dict>
</dict>
</plist>
